.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 10px;
    height: calc(100vh - 80px)
}
    
.product-info { 
    display: flex;
    grid-area: 1 / 2 / 6 / 6; 
    margin-left: 10px;
    background-color: #262626;
    flex-wrap: wrap;
}

.card{
    margin-left: 40px;
    margin-right: 40px;
}
    
    